*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Expletus Sans', cursive;
}
body{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 200px 1fr 200px;
    grid-template-areas: 
        "zheader"
        "znav"
        "zsection"
        "zfooter";
}
nav{
    grid-area: znav;
    background-image: url(/assets/img/header.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    filter: contrast(30%);
}

section{
    grid-area: zsection;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#formulario{

    border: 1px solid black;
    width: 100%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    margin: 50px 10%;
    border-radius: 10px;
    
}

#progreso{
    

    background-image: url(/assets/img/orange-wave-background-henrik-lehnerer.jpg);
    background-position-x: -25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 30%;
    border-radius: 10px;

}

.container{

    width: 80%;
    display: flex;
    flex-wrap: wrap;

}

.numeroPaso{

    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.numerito{

    border: solid #ffb11a;
    width: 30%;
    text-align: center;
    border-radius: 110px;

}

.infoPaso{
  
    width: 80%;
    display: flex;
    flex-direction: column;

}

.paso{

    color: rgba(0, 0, 0, 0.719);

}

.nombrePaso{

    font-weight: bold;

}

.infoPaso>div{
    
    display: flex;
    justify-content: left;
    align-items: center;
    height: 50%;

}

#contenido{
    
    width: 70%;
    border-left: 1px  solid rgba(0, 0, 0, 0.719);
    
}

.tituloRelleno{

    width: 100%;
    height: 20%;
    border-bottom:  1px solid rgba(0, 0, 0, 0.719);
    display: flex;
    justify-content: center;
    align-items: center;

}

.rellenar{

    width: 100%;
    height: 80%;

    display: flex;
    justify-content: center;
    align-items: center;
}
form{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.label{

    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;

}

input{
    margin: 5px;
}

form>div>button{

    width: 80px;
    height: 40px;

}