*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Expletus Sans', cursive;
}
body{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 200px 1fr 200px;
    grid-template-areas: 
        "zheader"
        "znav"
        "zsection"
        "zfooter";
}
nav{
    grid-area: znav;
    background-image: url(/assets/img/header.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    filter: contrast(30%);
}

section{
    grid-area: zsection;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#formulario{
    border: 1px solid black;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    margin: 50px 10%;
    border-radius: 10px;
    
}

#progreso{
    background-image: url(/assets/img/orange-wave-background-henrik-lehnerer.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 30%;
    border-radius: 10px;

}

.container{

    width: 80%;
    display: flex;
    flex-wrap: wrap;

}



.infoPaso{
    width: 80%;
    display: flex;
    flex-direction: column;

}

.paso{

    color: rgba(0, 0, 0, 0.719);

}

.nombrePaso{

    font-weight: bold;

}

.infoPaso>div{
    
    display: flex;
    justify-content: left;
    align-items: center;
    height: 50%;

}

.contenido{
    width: 70%;
    border-left: 1px  solid rgba(0, 0, 0, 0.719);
    display: flex;
}
.fieldset{
    display: none;
}

.activo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tituloRelleno{
    height: 200px;
    width: 100%;
    border-bottom:  1px solid rgba(0, 0, 0, 0.719);
    display: flex;
    justify-content: center;
    align-items: center;
}

.rellenar{

    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;

}

.form-item{

    width: 300px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.form-item label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-item>select{
    width: 50%;
    background-color: #ffb11a;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: transparent;

}

.form-item>input {

    width: 100%;
    font-family: inherit;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: solid #ffb11a;
}

#botonSiguiente {
    background-color: #ffb11a;
    color: white;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: transparent; 
    width: 100px;
    height: 50px;

}

#botonSiguiente2 {
    background-color: #ffb11a;
    color: white;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: transparent; 
    width: 133px;
    height: 50px;

}
.form-item select,textarea,input::file-selector-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.form-item #logo{
    font-size: 14px;
}

.form-item input[type=text]{
    
}
.form-item input[type=number]{

}

.form-item input[type=password]{

}
.form-item textarea{
    
}
.form-item input[type=file]{
    width: 100%;
}
.form-item input:focus {
    outline: 0;

}

.form-item i {
    visibility: hidden; 
    position: absolute;
    top: 30px;
    right: 10px;
}


.form-item small {
    color: #100707;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

/*paso 2*/

.rellenar2{

    width: fit-content;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 100px;

    
}

.form-item2{

    width: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 10px;
  
}

.form-boton-item2{

    width: 300px;

    position: relative;
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
    justify-content: center;

  
}

.form-item2 label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-item2>select{
    width: 50%;
    background-color: #ffb11a;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: transparent;

}

.form-item2>input {

    width: 100%;
    font-family: inherit;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: solid #ffb11a;/* solid rgb(238,94,10); 
    border-bottom: solid linear-gradient(90deg, rgba(238,94,10,1) 0%, rgba(241,156,17,1) 35%, rgba(255,235,0,1) 100%); */

}

#pasoAColor1{

    color: #ffb11a;

}

.form-item2 select,textarea,input::file-selector-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}
.form-item2 #logo{
    font-size: 14px;
}

.form-item2 input[type=text]{
    
}
.form-item2 input[type=number]{

}

.form-item2 input[type=password]{

}
.form-item2 textarea{
    
}
.form-item2 input[type=file]{
    width: 100%;
}
.form-item2 input:focus {
    outline: 0;
}

.form-item2 i {
    visibility: hidden; 
    position: absolute;
    top: 30px;
    right: 10px;
}


.form-item2 small {
    color: #100707;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}


