
/**---------------------Header--------------------**/
header{

    width: 100%;
    grid-area: zheader;
    display: flex;
    flex-wrap: wrap;
    border-bottom: solid rgba(0, 0, 0, 0.397);

}

#logo{

    display: flex;
    font-size: 40px;
    width: 75%;
    align-items: center;
    justify-content: left;
    font-weight: bold;

    

}
#logo > p{
    display: grid;
    place-content: center;
    
    width: 300px;
    margin-left: 60px ;
    
}

marquee{
    z-index: 200;
}
.logoCamion{
    width: 130px;
    height: 90px;
    margin-left: 10px;
    background-image: url(/assets/img/LogoP.png);
    background-size: cover;
    background-position:45% 50%;
    /* position: relative;
    top: 24px; */
}
.animacionLogo {
    --b: 0.1em;   /* the thickness of the line */
    --c: #ffb11a; /* the color */
    
    color: #0000;
    padding-block: var(--b);
    background: 
      linear-gradient(var(--c) 50%,#000 0) 0% calc(100% - var(--_p,0%))/100% 200%,
      linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
  }
.animacionLogo:hover {
    --_p: 100%;
    --_s: .3s;
}

  #info{

    width: 25%;
    display: flex;
    flex-wrap: wrap;
    align-items: center ;
    justify-content:  right;
    gap: 2%;


}
#boxInfo{

    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center ;
    justify-content: center;
    gap: 2%;


}
#sobreNosotros{

    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;

}

#trabajadores{

    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 45px;
    background-color: #ffb11a;
    color: rgb(0, 0, 0);
    border-radius: 40px;

}

#empresas{

    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 45px;
    background-color: white;
    border: 2px solid black;
    color: black;
    border-radius: 40px;

}

#logoUser{

    display: flex;
    align-items: center;
    justify-content: left;
    width: 15%;
    
}

#logoUser>i{

    font-size: 45px;
  
}
/**---------------------Header--------------------**/

/**-------------------------Footer---------------------------*/

footer{
    background-color:  #ffb11a;
    grid-area: zfooter;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    color: #222;
}
.footer_opcion{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer_opcion > a{ 
    color: #222;
    text-decoration: none;
}
.footer_contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #222;
    gap: 10px;
}

.footer_social > a > i{
    color: #222;
    font-size: 1.5em;
    text-decoration: none;
    gap: 10px;
}
a:hover , .footer_contacto > p:hover , .footer_social>a>i:hover{
    font-weight: bold;
}
/*Titulo texto footer*/
#texto_tdr{
    position: relative;
    font-size: 1.5em;
    color: #222;
}
#texto_tdr::before{
    content: attr(data-text);
    position: absolute;
    color: #ffffff;
    width: 350px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid #ffb11a;
    animation: animate 8s linear infinite;
}

@keyframes animate{
    0%,10%,100%{
        width: 0;
    }
    70%,90%{
        width: 100%;
    }
}
/**-------------------------Footer---------------------------*/