* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body{
  width: 100%;
}

header {
  position: absolute;
  width: 100%;
  grid-area: zheader;
  display: flex;
  flex-wrap: wrap;
  background-color: transparent!important;
  z-index: 100;
  padding: 1.5rem;
  border-bottom: none !important;

}
#empresas{
  background-color: white;
}
#logo {
    color: white;
}
#bannerBox {
  height: 100vh;
  background-image: url(/assets/img/header_A.jpg);
  background-size: cover;
  background-position:center;
}
#banner {
  background-color: rgba(56, 56, 56, 0.6);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: white;
}
#TxtTitulo {
  height: 50%;
  width: 45%;
  font-size: 40px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: end;
  font-weight: bold;
  color: #ffffff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-right: 20px;
}

#flechasNav {
  width: 45%;
  height: 40%;
  color: white;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-right: 20px;

}
#flechasBanner {
  color: #ffb11a;
}
section {
  background-color: whitesmoke;
  padding-bottom: 5%;
}

#boxUbicaciones {
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  padding-top: 50px;  
}

#tituloUbicaciones {
  /* margin-bottom: 50px; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #ffb11a;
}

#textoUbicaciones {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
  margin: 50px;
}

#imagenesUbicaciones {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10%;
  opacity: 0.9;
  
}

.box_img{
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.tituloImagenesUbi {
  position: absolute;
  font-size: 2em;
  color: #ffb11a;
  text-shadow: 2px 1px 1px #070707;
}
.box_img > img{
  width: 300px;
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px;
  background-color: #ffffffbb;
  border-radius: 10px;
}

.imagenesUbicacionButton {
  position: absolute;
  top: 300px;
  border-radius: 5px;
  border: 1px #ffb11a solid;
  padding: 10px;
  margin-top: 10px;
  background-color: #f5f5fa;
  transition: 0.4s ease-out;
}

.imagenesUbicacionButton:hover {
  cursor: pointer;
  background-color: #ff8903;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#boxOfertas {
  padding-bottom: 30px;
  padding-top: 50px;
  margin-top: 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.tituloOferta {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  color: #ffb11a;
}

.tituloOferta > p {
  font-size: 20px;
  margin: 1rem;
  color: rgba(0, 0, 0, 0.729);
}

.oferta {
  background-color: white;
  border-radius: 10px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  height: 150px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: rgba(0, 0, 0, 0.737);
}

.oferta:hover {
  box-shadow: rgba(29, 29, 29, 0.228) 0px 5px 8px 8px;
  cursor: pointer;
}

.oferta > .informacionEmpresa > div:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.739);
}

.ofertaDestacada {
  background-color: white;
  border: 2px solid #ffb11a;
  border-radius: 10px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  height: 150px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: rgba(0, 0, 0, 0.737);
  position: relative;
}

.circleDestacada {
  position: absolute;
  width: 100px;
  height: 30px;
  border: 3px solid #ffb11a;
  background-color: #ffb11a;
  border-radius: 25px;
  top: -15px;
  right: 10px;
  display: flex;
  justify-content: center;
}

.ofertaDestacada:hover {
  box-shadow: rgba(29, 29, 29, 0.228) 0px 5px 8px 8px;
  cursor: pointer;
}

.ofertaDestacada > .informacionEmpresa > div:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.739);
}

.image {
  width: 25%;
  display: grid;
  place-content: center;
}

.puesto {
  font-weight: bold;
  font-size: larger;
}

.nombrEmpresa {
  color: rgba(0, 0, 0, 0.5);
}

.informacionEmpresa {
  width: 55%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.localidad {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.localidad > div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#botonvermas {
  height: 50px;
  background-color: #ffb11a;
  border: none;
  border-radius: 5px;
  width: 150px;
  margin-top: 2rem;
}

#botonvermas:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}



.slider {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.sliderAnimate {
  
  width: 80%;
  display: flex;
  /* overflow-x: scroll; */
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 30px 0px;
  gap: 20px;
}

.sliderBox {
  min-width: 200px;
  max-width: 200px;
  height: 100px;
  box-shadow: rgba(29, 29, 29, 0.228) 0px 5px 8px 8px;
}

.sliderBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: rgba(29, 29, 29, 0.228) 0px 5px 8px 8px;
}

.sliderBox:hover {
  transform: scale(1.2);
  cursor: pointer;
}

#cuadrosSeccion {
  width: 100%;
  padding: 2%;
  background: linear-gradient(
    0deg,
    whitesmoke 0%,
    rgba(253, 187, 45, 1) 64%
  ); 
  filter: blur();
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

#cuadrosSeccion > div {
  width: 80%;
  display: flex;
  flex-direction: row ;
  justify-content: center;
  align-items: center;
  gap: 20%;

}

#cuadrosSeccion > div > div{
  box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px;
  border-radius: 10px;
  width: 450px;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.card__body > button {
  border-radius: 5px;
  border: 1px #ffb11a solid;
  padding: 10px;
  margin-top: 10px;
}

.card__body > button:hover {
  cursor: pointer;
  background-color: #ff8903;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card > h1, .card1 > h1{
  font-size: 30px;
  color: #ffb11a;
  text-shadow: 2px 1px 1px #070707;
}
.card{
	position: relative;
  z-index: 1;
	display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
	place-content: center;
	color: #000;
	text-align: center;
	background: url('/assets/img/paraconductore.jpg') center no-repeat;
	background-size: cover;
	padding: 10px;
	border-radius: 20px;
	overflow: hidden;
}

.card1{
  position: relative;
	z-index: 1;
	display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
	place-content: center;
	color: #000;
	text-align: center;
	background: url('/assets/img/parempresas.jpg') center no-repeat;
	background-size: cover;
	padding: 10px;
	border-radius: 20px;
	overflow: hidden;
}
.card1::before,
.card1::after, .card::before,
.card::after {
	content: '';
	position: absolute;
	left: 0;
	z-index: -1;
	width: 100%;
	height: calc(70% + 35px);
  background-color: #f5f5fa;
  border: 1px solid rgba(255, 255, 255, 0.3);
	transition: transform 0.5s 0.25s;
}
.card1::before,.card::before {
	top: 0;
	clip-path: polygon(0 0, 100% 0, 100% 45%, 0% 100%);
	transform: translateY(-100%);
}
.card1::after,.card::after {
	bottom: 0;
	clip-path: polygon(0 55%, 100% 0, 100% 100%, 0% 100%);
	transform: translateY(100%);
}
.card__body {
  width: 80%;
	opacity: 0;
	transition: opacity 0.25s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:10px;
  padding: 10px;
}
.card__body > div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap:10px;
}
.card__title {
	color: #ffb11a;
	margin-bottom: 15px;
}
.card1:hover::before,
.card1:hover::after,.card:hover::before,
.card:hover::after {
	transform: translateY(0);
}
.card1:hover .card__body, .card:hover .card__body {
	opacity: 1;
	transition-delay: 0.75s;
}

footer{
  border-top: 0;
  padding: 5%;
}



@media (max-width: 1100px) {
  #textoUbicaciones {
    font-size: 20px;
  }

  .oferta {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .ofertaDestacada {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .image {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .informacionEmpresa {
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .puesto {
    width: 100%;
    text-align: center;
  }

  .nombrEmpresa {
    width: 100%;
    text-align: center;
  }

  .localidad {
    width: 100%;
    height: 55px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }

  .mapa {
    height: 25px;
  }

  .caducidad {
    height: 25px;
  }

  .oferta {
    height: 275px;
  }

  .ofertaDestacada {
    height: 275px;
  }

  #boxUbicaciones{
    margin: 0;
    width: 100%;
  }
  #imagenesUbicaciones {
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 0;
  }
  .box_img{
    padding: 0px;
    width: 40%;
  }
  #cuadrosSeccion > div {
    flex-direction: column ;
  }
  #cuadrosSeccion > div > div {
    margin: 10%;
  }
}

@media (max-width: 1000px) {
  #banner > div{
    width: 60%;
  }
  #TxtTitulo {
    height: 60%;
    font-size: 45px;
  }
  #imagenesUbicaciones {
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 0;
  }

  #cuadrosSeccion > div {
    flex-direction: column ;
  }
  #cuadrosSeccion > div > div {
    margin: 10%;
  }
}
@media (max-width: 930px) {
  #banner > div{
    width: 50%;
  }
  #TxtTitulo {
    height: 60%;
    font-size: 45px;
  }
  #imagenesUbicaciones {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 0;
  }
  .box_img{
    padding: 5%;
    width: 500px;
    height: 500px;
  }
  .box_img > img{
    width: 100%;
    height: 100%;
  }
  #cuadrosSeccion > div {
    flex-direction: column ;
  }
  #cuadrosSeccion > div > div {
    margin: 10%;
  }

}

@media (max-width: 600px) {
  #banner > #TxtTitulo {
    height: 60%;
    font-size: 35px;
  }
  #containerTxtBanner {
    gap: 3%;
  }
  #banner {
    align-items: center;
  }

}
