* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 150px 1fr 200px;
  grid-template-areas:
    "zheader"
    "znav"
    "zsection"
    "zfooter";
}

nav {
  grid-area: znav;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(253, 187, 45, 1) 64%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

section {
  grid-area: zsection;
}

#paquete {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-weight: bold;
}

#paqueteEmpresa {
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 8rem;
  padding: 1.5rem;
}

#paqueteEmpresa>div {
  width: 90%;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#logoEmpresa>img {
  width: 350px;
  height: 200px;
}

#tipoEmpresa {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: solid rgba(128, 128, 128, 0.174) 1px;
}

#tipoEmpresa>div {
  width: 50%;
  display: flex;
  justify-content: start;
}

#nombreEmpresa {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: solid rgba(128, 128, 128, 0.174) 1px;
}

#nombreEmpresa>div {
  width: 50%;
  display: flex;
  justify-content: start;
}

#direccionEmpresa {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: solid rgba(128, 128, 128, 0.174) 1px;
}

#direccionEmpresa>div {
  width: 50%;
  display: flex;
  justify-content: start;
}

#provinciaEmpresa {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: solid rgba(128, 128, 128, 0.174) 1px;
}

#provinciaEmpresa>div {
  width: 50%;
  display: flex;
  justify-content: start;
}

#codigoPostal {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: solid rgba(128, 128, 128, 0.174) 1px;
}

#codigoPostal>div {
  width: 50%;
  display: flex;
  justify-content: start;
}

#webSite {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: solid rgba(128, 128, 128, 0.174) 1px;
}

#webSite>div {
  width: 50%;
  display: flex;
  justify-content: start;
}

#telefono {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: solid rgba(128, 128, 128, 0.174) 1px;
}

#telefono>div {
  width: 50%;
  display: flex;
  justify-content: start;
}

.oferta {
  background-color: white;
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 150px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: rgba(0, 0, 0, 0.737);
  margin-top: 20px;
}

.oferta:hover {
  box-shadow: rgba(29, 29, 29, 0.228) 0px 5px 8px 8px;
  cursor: pointer;
}

.oferta>.informacionEmpresa>div:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.739);
}

.ofertaDestacada {
  background-color: white;
  border: 2px solid #ffb11a;
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 150px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: rgba(0, 0, 0, 0.737);
  position: relative;
  margin-top: 20px;
}

.circleDestacada {
  position: absolute;
  width: 100px;
  height: 30px;
  border: 3px solid #ffb11a;
  background-color: #ffb11a;
  border-radius: 25px;
  top: -15px;
  right: 10px;
  display: flex;
  justify-content: center;
}

.ofertaDestacada:hover {
  box-shadow: rgba(29, 29, 29, 0.228) 0px 5px 8px 8px;
  cursor: pointer;
}

.ofertaDestacada>.informacionEmpresa>div:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.739);
}

.image {
  width: 25%;
  display: grid;
  place-content: center;
}

.puesto {
  font-weight: bold;
  font-size: larger;
}

.nombrEmpresa {
  color: rgba(0, 0, 0, 0.5);
}

.informacionEmpresa {
  width: 55%;
  display: grid;
  place-content: center;
}

.localidad {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.localidad>div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  #logoEmpresa {
    border: solid red;
    display: flex;
    justify-content: center;
  }

  #logoEmpresa>img {
    width: 250px;
    height: 140px;
  }

  #webSite {
    font-size: 13px;
  }
}

#texto_tdr_head {
  position: relative;
  font-size: 50px;
  color: #222;
}

#descripcionD {
  margin-top: 20px;
  border-top: solid rgba(128, 128, 128, 0.174) 1px;
  border-bottom: solid rgba(128, 128, 128, 0.174) 1px;
  padding: 2rem;
}

@media (max-width: 1100px) {
  .oferta {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .ofertaDestacada {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .image {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .informacionEmpresa {
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .puesto {
    width: 100%;
    text-align: center;
  }

  .nombrEmpresa {
    width: 100%;
    text-align: center;
  }

  .localidad {
    width: 100%;
    height: 55px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }

  .mapa {
    height: 25px;
  }

  .caducidad {
    height: 25px;
  }

  .oferta {
    height: 275px;
  }

  .ofertaDestacada {
    height: 275px;
  }
}