*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Expletus Sans', cursive;
}

body{

    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px 1fr 200px;
    grid-template-areas: 
        "zheader"
        "znav"    
        "zsection"
        "zfooter";
}


nav{
    grid-area: znav;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
section{
    grid-area: zsection;
    display: flex;
    justify-content: center;
}
.encajePagina{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 80%;
    border: solid rgba(0, 0, 0, 0.407);
    border-radius: 10px;

}
.cabeceraCurr{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: solid rgba(0, 0, 0, 0.407) ;
}
.fotoCurr{
    width: 30%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: solid rgba(0, 0, 0, 0.407) ;
}
.fotoCurr>img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.nombreApeCorr{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}
.encajeDatos{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}
.nombre{
    width: 100%;
    display: flex;
    align-items: end;
    font-size: 50px;
    margin-left: 60px;
    color: black;
}
.apellido{
    width: 100%;
    display: flex;
    align-items: start;
    font-size: 50px;
    margin-left: 60px;
    color: #ffb31aa8;
}
.contacto{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
}
.datosDeContacto{
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 15px;
}
/*infoCurr*/
.infoCurr{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.experiencia{
    width: 30%;
    border-right: solid rgba(0, 0, 0, 0.407) ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.experiencia>div{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.experiencia>div>div{
    width: 100%;
}
.infoTrabajador{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    flex-direction: column;
    padding: 30px;
}
.exp{
    color: rgba(0, 0, 0, 0.500);
    width:100px;
    margin-left: 20px;
    border-bottom: solid  rgba(0, 0, 0, 0.407);
}

.titulo{
    color: rgb(0, 0, 0);
    margin-left: 20px;
    margin-bottom: 50px;
    font-size: 40px;
    text-align: center;
}
.ejemplo{
    margin: 20px;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
}
.ejemplo>div{
    margin-top: 20px;
    width: 30%;
}
.presentacion>div{
    width: 80%;
    margin-top: 20px;
}
.autonomo{
    border-radius: 10px;
    width: 100px;
    height: 30px;
    background-color: rgba(255, 166, 0, 0.613);
}
.asalariado{
    border-radius: 10px;
    margin-top: 10px;
    width: 100px;
    height: 30px;
}
.enabled{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: rgba(255, 166, 0, 0.613);
}
.disabled{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: 20px;
}
@media (max-width: 1000px){
    .nombre{
        font-size: 30px;
    }
    .apellido{
        font-size: 30px;
    }
    .datosDeContacto{
        font-size: 13px;
        margin-right: 10px;
    }
    .titulo{
        color: rgb(0, 0, 0);
        margin-left: 20px;
        margin-bottom: 50px;
        font-size: 30px;
    }
    .asalariado{
        margin-top: 20px;
    }
}
@media (max-width: 900px){
    .ejemplo>div>h3{
        font-size: 15px;
    }
    .ejemplo>div>p{
        font-size: 15px;
    }
    .nombre{
        font-size: 25px;
    }
    .apellido{
        font-size: 25px;
    }
    .fotoCurr>img{
        width: 100px;
        height: 100px;
    }
    .datosDeContacto{
        font-size: 9px;
    }
    .titulo{
        color: rgb(0, 0, 0);
        margin-left: 20px;
        margin-bottom: 50px;
        font-size: 30px;
    }
    .ejemplo{
        display: flex;
        flex-direction: column;
        
    }
    .ejemplo>div{
        margin-top: 20px;
        width: 100%;
    }
    .txtPresentacion{
        font-size: 15px;
    }
    .experiencia>div>h3{
        font-size: 15px;
    }
    .asalariado{
        margin-top: 20px;
    }
}

@media (max-width: 600px){
    .nombre{
        font-size: 20px;
    }
    .apellido{
        font-size: 20px;
    }
    .fotoCurr>img{
        width: 100px;
        height: 100px;
    }
    .datosDeContacto{
        font-size: 7px;
    }
    .titulo{
        color: rgb(0, 0, 0);
        margin-left: 20px;
        margin-bottom: 50px;
        font-size: 30px;
    }
    .ejemplo{
        display: flex;
        flex-direction: column;
    }
    .txtPresentacion{
        font-size: 15px;
    }
    .experiencia>div>h3{
        font-size: 15px;
    }
    .autonomo{
        border-radius: 5px;
        width: 80px;
        height: 20px;
        background-color: rgba(255, 166, 0, 0.613);
    }
    .asalariado{
        border-radius: 5px;
        margin-top: 20px;
        width:80px;
        height: 20px;
    }
    .enabled{
        border-radius: 50%;
        width: 25px;
        height: 25px;
        background-color: rgba(255, 166, 0, 0.613);
    }
    .disabled{
        border-radius: 50%;
        width: 25px;
        height: 25px;
        margin-left: 20px;
    }
}